.title {
  font-family: 'Permanent Marker', cursive;
  font-size: 80px;
  text-align: center;
  font-weight: 900;
  color: rgba(175, 47, 47, 0.15);
  margin-bottom: 20px;
}

@media (max-width: 400px) {
  .title {
    font-size: 75px;
  }
}
