.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
}

.newsList {
  flex: 1 0 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
